
<div class="shelf">
	<div class="shelf_top">
		<div class="shelf_switch"></div>
		<a href="/search">
			<div class="shelf-search">输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book-list">
		<li>
			<div class="u-book">
			<a href="/book?id=10234">
				
					<div class="book-cover">
						<img alt="兵王之王" src="/static/img/cover/bingwangZhiwang.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">兵王之王</h3>
					<p class="author">
						<span class="author">Bill</span>
					</p>
					<div class="wrap">
						<p>中国相关</p>
					</div>
				</div>
			</a>
			</div>	
		</li>
		<li>
			<div class="u-book">
			<a href="/book?id=321145">
				
					<div class="book-cover">
						<img alt="渣王作妃" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">渣王作妃</h3>
					<p class="author">
						<span class="author">浅浅的心</span>
					</p>
					<div class="wrap">
						<p>最新: 我有心上人了</p>
					</div>
				</div>
			</a>
			</div>
		</li>
		<li>
			<div class="u-book">
			<a href="/book?id=319133">
				
					<div class="book-cover">
						<img alt="爆笑兵痞" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01xBFG2D56q/Py0CDUjcBypXwm.jpg">
					</div>
				
				<div class="info">
					<h3 class="title">爆笑兵痞</h3>
					<p class="author">
						<span class="author">寒雪独立人</span>
					</p>
					<div class="wrap">
						<p>最新: 第5章：大姐，别玩我好吗？</p>
					</div>
				</div>
			</a>
			</div>
		</li>
	</ul>
</div>







